{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $profile := .Site.Params.home.profile -}}
{{- $posts := .Site.Params.home.posts -}}

<div class="page home{{ if ne $posts.enable false }} posts{{ end }}">
    {{- /* Profile */ -}}
    {{- if ne $profile.enable false -}}
    {{- partial "home/profile.html" . -}}
    {{- end -}}

    {{- /* Content */ -}}
    {{- if .Content -}}
    <div class="single">
        <div class="content" id="content">
            {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome"
            $params.fontawesome |
            partial "function/content.html" | safeHTML -}}
        </div>
    </div>
    {{- end -}}


</div>

{{- end -}}

{{- define "recent_posts" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $posts := .Site.Params.home.posts -}}
{{- $pages := where .Site.RegularPages "Type" "posts" -}}
{{/* 遍历所有页面，最后保留最近更新的6个页面 */}}
{{- if ne $posts.enable false | and .Site.RegularPages -}}
<div class="recent_posts">
    {{/* */}}
    {{- $pages := where .Site.RegularPages "Type" "posts" -}}

    {{/* */}}
    {{- if .Site.Params.page.hiddenFromHomePage -}}
    {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
    {{- else -}}
    {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
    {{- end -}}

    {{- range first 9 $pages -}}
    {{- .Render "recent_post" -}}
    {{- end -}}

    <div class="blog-slider__pagination">
        {{- range seq 9 -}}
            <span class="swiper-pagination-bullet"></span>
        {{- end -}}
    </div>
</div>
{{- end -}}

{{- end -}}

{{- define "tips" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $posts := .Site.Params.home.posts -}}

{{- /* Posts */ -}}
{{/* 遍历所有页面，利用.Render "summary"生成文章摘要，并调用分页组件 */}}
{{- if ne $posts.enable false | and .Site.RegularPages -}}

<div class="tips">
    {{/* */}}
    {{- $pages := where .Site.RegularPages "Type" "posts" -}}

    {{/* */}}
    {{- if .Site.Params.page.hiddenFromHomePage -}}
    {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
    {{- else -}}
    {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
    {{- end -}}

    {{/* */}}
    {{- with $posts.paginate | default .Site.Params.paginate -}}
    {{- $pages = $.Paginate $pages . -}}
    {{- else -}}
    {{- $pages = .Paginate $pages -}}
    {{- end -}}

    {{- range $pages.Pages -}}
    {{- .Render "summary" -}}
    {{- end -}}
</div>
{{- partial "paginator.html" . -}}

{{- end -}}

{{- end -}}