// ==============================
// Custom style
// 自定义样式
// ==============================
@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'HYTMR';
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(https://static.netdun.net/sc/Fomalhaut/HYTangMeiRen55W.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

.wrapper[data-theme="dark"] {}


.wrapper {
  font-family: HYTMR;
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8px' height='8px'><circle cx='4' cy='4' r='4' opacity='1.0' fill='rgb(57, 197, 187)'/></svg>") 4 4, auto;


  // web-bg类固定位置，且在正文和背景之间进行透明度为0.5的遮罩
  #web_bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  // =================================================================================
  /* 光标样式自定义 */ 
  .ti-cursor
  {
    color: white !important;
    font-size: 2rem !important;
  }

  // =================================================================================
  /* 背景宇宙星光  */
  #universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
    z-index: -1;
  }

  // =================================================================================
  /* 文章页H1-H6图标样式效果 */
  /* 控制风车转动速度 4s那里可以自己调节快慢 */
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    -webkit-animation: ccc 4s linear infinite;
    animation: ccc 4s linear infinite;
  }
}

// ===================================================================================================
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: $theme-color;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: $theme-color;
}