// ==============================
// Custom style
// 自定义样式
// ==============================
@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'HYTMR';
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(https://static.netdun.net/sc/Fomalhaut/HYTangMeiRen55W.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

// ===================================================================================================

* {
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8px' height='8px'><circle cx='4' cy='4' r='4' opacity='1.0' fill='rgb(57, 197, 187)'/></svg>") 4 4, auto;
}


/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: $theme-color;
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}


// ===================================================================================================

.wrapper {
  font-family: HYTMR;

  // web-bg类固定位置，且在正文和背景之间进行透明度为0.5的遮罩
  #web_bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;

    [data-theme="dark"] & {
      position: fixed;
      height: 100%;
    }

    background-color: black;
    opacity: 0.5;
  }

  // =================================================================================
  /* 背景宇宙星光  */
  #universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
    z-index: -1;
  }

  // =================================================================================
  /* 文章页H1-H6图标样式效果 */
  /* 控制风车转动速度 4s那里可以自己调节快慢 */
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    -webkit-animation: ccc 4s linear infinite;
    animation: ccc 4s linear infinite;
  }
}

// ===================================================================================================
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: $theme-color;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: $theme-color;
}

// ===================================================================================================
/* 日间模式不生效 */

.header-title,.home-title,.home-subtitle{
  [data-theme="light"] & {
    animation: none;
  }
}

.single-title.animate__animated.animate__flipInX{
  [data-theme="light"] & {
    animation: none;
  }
  [data-theme="dark"] & {
    animation: light_15px 10s linear infinite;
  }
}

/* 夜间模式生效 */
.header-title,.home-title{
  [data-theme="dark"] & {
    animation: light_15px 10s linear infinite;
  }
}

[data-theme="dark"] .home-subtitle {
  animation: light_10px 10s linear infinite;
}

[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}

/* 关键帧描述 */
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }

  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }

  25% {
    text-shadow: #f14747 0 0 15px;
  }

  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }

  50% {
    text-shadow: #f1ee47 0 0 15px;
  }

  50% {
    text-shadow: #b347f1 0 0 15px;
  }

  62.5% {
    text-shadow: #002afa 0 0 15px;
  }

  75% {
    text-shadow: #ed709b 0 0 15px;
  }

  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }

  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }

  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }

  25% {
    text-shadow: #f14747 0 0 10px;
  }

  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }

  50% {
    text-shadow: #f1ee47 0 0 10px;
  }

  50% {
    text-shadow: #b347f1 0 0 10px;
  }

  62.5% {
    text-shadow: #002afa 0 0 10px;
  }

  75% {
    text-shadow: #ed709b 0 0 10px;
  }

  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }

  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }

  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }

  25% {
    text-shadow: #f14747 0 0 5px;
  }

  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }

  50% {
    text-shadow: #f1ee47 0 0 5px;
  }

  50% {
    text-shadow: #b347f1 0 0 5px;
  }

  62.5% {
    text-shadow: #002afa 0 0 5px;
  }

  75% {
    text-shadow: #ed709b 0 0 5px;
  }

  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }

  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}

// ================================================================================================

.Cuteen_DarkSky,
.Cuteen_DarkSky:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 88888888;
}

.Cuteen_DarkSky {
    background: linear-gradient(to top, #f8cd71 0, #5bfde9 80%);
}

.Cuteen_DarkSky:before {
    transition: 2s ease all;
    opacity: 0;
    background: linear-gradient(to top, #30cfd0 0, #330867 100%);
}

.DarkMode .Cuteen_DarkSky:before {
    opacity: 1;
}

.Cuteen_DarkPlanet {
    z-index: 99999999;
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
    animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
    transform-origin: center bottom;
}

@-webkit-keyframes CuteenPlanetMove {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes CuteenPlanetMove {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.Cuteen_DarkPlanet #sun {
    position: absolute;
    border-radius: 100%;
    left: 44%;
    top: 30%;
    height: 6rem;
    width: 6rem;
    background: #ffee94;
    box-shadow: 0 0 40px #ffee94;
}

.Cuteen_DarkPlanet #moon {
    position: absolute;
    border-radius: 100%;
    left: 44%;
    top: 30%;
    position: absolute;
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    box-shadow: -1.8em 1.8em 0 0.2em #fff;
}

.search span {
    display: none;
}

.menus_item a {
    text-decoration: none !important;
}


// ===================================================================================================
.wrapper:has(.single) #web_bg {
    display: none;
}