/** Layout **/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  main {
    flex: 1 0 auto;

    aside:first-child {
      order: 2;
    }

    &.container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 1rem;
      flex-direction: column;
      &:has(.home:not(.posts)) {
        align-items: center;
      }
    }

    &.container-reverse {
      @extend .container;
      flex-direction: row-reverse;
    }
  }
}

.tips{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc( #{$summary-width} * 3 );
  .summary{
    margin: $summary-margin;
    height: calc( #{$summary-height} - 2 * #{$summary-margin} );
    border-radius: $tip-border-radius;
    background-color: rgba($color: $global-background-color, $alpha: 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    [data-theme="dark"] & {
      background-color: rgba($color: $global-background-color-dark, $alpha: 0.8);
      color: $home-font-color;
    }
  }
}

@import "_core/header";
@import "_core/footer";
@import "_core/pagination";
