.page {
  position: relative;

  &.single{
    padding: 2rem;
    background-color: rgba($color:$global-background-color , $alpha: 1.0);
    border-radius: $tip-border-radius;
    [data-theme="dark"] & {
      background-color: rgba($color:$global-background-color-dark , $alpha: 1.0);
    }
  }

  .content {
    [id] {
      scroll-margin-top: $header-height;

      [data-header-desktop='normal'] & {
        scroll-margin-top: 0;
      }
    }
  }

  @include blur;
}

@import '_single';
@import '_special';
@import '_archive';
@import '_home';
@import '_404';
@import '_offline';
@import '_friends';
